# Public build-time values only. Never place secrets in VITE_* variables.
VITE_SITE_URL=https://bh.dulunduztec.com.br
SITE_HOST=bh.dulunduztec.com.br
SOURCE_CONTEXT=https://github.com/ravidulundu/brezilyayahosgeldiniz.git#main
